/* layout */
body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#appname {
    z-index: -100;
    
    left: -1px;
    bottom: -8px;
    position: relative;
}

.auth-form {
    width: 320px;
    
    display: flex;
    flex-flow: column nowrap;
}

.login-input, .auth-button {
    height: 60px;
}

/* style */
#appname {
    color: #ff9234;
    
    font-size: 32px;
    font-weight: 300;
}

.auth-form > .login-input { 
    font-size: 16px;
    text-align: center;
    
    border-bottom: 1px solid #EAEAEA; 
}
.auth-form > .login-input:last-child { border-bottom: none; }

.auth-button {
    color: white;
    
    font-size: 18px;
    
    background-color: #ff9234;
}