/* TRANSITION */
.side,
.account-option, .account-edit, 
.toggle-upload, .upload-header, .upload-form, .upload-option
{
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}


/* FLEXBOX */
.side, .top-bar,
.account-menu, .edit-form,
.upload-header,
.module-subheader
{
    display: flex;
}

.top-bar,
.account-menu,
.upload-header
{ 
    flex-flow: row nowrap; 
}

.side, .edit-form
{ 
    flex-flow: column nowrap;
}

.account-menu,
.upload-header,
.module-subheader
{
    justify-content: flex-end;
}

.top-bar,
.edit-form,
.module-header,
.module-subheader
{
    align-items: center;
}



/* --- SIDE --- */
.side {
    z-index: 200;
    width: 280px;
    height: 100%;
    min-width: 280px;
    
    left: -280px;
    position: fixed;
    
    display: flex;
    flex-flow: column nowrap;
}
.side.show { left: 0px; }

.logo {
    height: 80px;
    min-height: 80px;
    line-height: 80px;
    
    font-size: 40px;
    font-weight: 200;
    text-align: center;
}

.account-list { overflow-y: auto; }
.account-item { padding: 10px 10px; }
.account-name {
    width: 100%;
    height: 35px;
    line-height: 35px;
    
    font-size: 18px;
    font-weight: 500;
}
.account-amount {
    font-size: 20px;
    font-weight: 400;
}
.account-menu { margin: 10px 0px; }
.account-option {
    width: 40px;
    height: 40px;
    margin-left: 8px;
    border-radius: 20px;
    
    font-size: 20px;
}
.account-edit {
    height: 0px;
    overflow: hidden;
}
.account-edit.show { height: 200px; }
.edit-form { padding: 10px 0px; }
.edit-option {
    width: 90%;
    margin: 0px auto;
    
    font-size: 16px;
}
.edit-field {
    height: 40px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.rename-button {
    height: 50px;
    padding: 10px;
}
.delete-button {
    font-size: 12px;
    height: 30px;
}

.upload-header {
    width: 100%;
    height: 44px;
    min-height: 44px;
}
.upload-header.active { width: 50px; }
.toggle-upload {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    
    right: 5px;
    bottom: 5px;
    position: relative;
    
    font-size: 20px;
}
.toggle-upload.active { transform: rotate(45deg); } 
.upload-form { height: 0px; overflow: hidden; }
.upload-form.show { height: 140px; }
.csv-msg {
    height: 30px;
    font-size: 18px;
    text-align: center;
}
.upload-option {
    display: block;
    width: 60%;
    height: 40px;
    margin: 0px auto 10px auto;
    padding: 10px;
    
    font-size: 16px;
    text-align: center;
    
    top: 0px;
    position: relative;
}


/* --- MAIN --- */
main { 
    z-index: 0;
    height: 100%;
    padding-top: 50px;
    position: relative; 
/*    overflow-y: hidden;*/
}
.top-bar {
    z-index: 100;
    width: 100%;
    
    top: 0px;
    position: fixed;
}

.top-bar, .top-bar * { 
    height: 50px; 
    line-height: 50px;
}
.section-title {
    font-size: 22px;
    font-weight: 300;
}
.toggle-side, .dd-user > .profile { width: 50px; }
.toggle-side { font-size: 26px; }
.profile { font-size: 20px; }
.dd-user .dropitem {
    width: 120px;    
    padding: 0px 10px;
}

.content { padding: 10px; }
.module { margin-bottom: 20px; }
.module-header {
    height: 50px;
    line-height: 50px;
    
    padding: 0px 10px;
}
.module-label {
    font-size: 18px;
    font-weight: 400;
}
.module-subheader { 
    z-index: 5;
    height: 40px; 
}



/* ------ GRAPH ------ */
.date-select {
    width: 80px;
    height: 32px;
    
    font-size: 12px;
}

#graph { height: 300px; }


/* ------ TRANSACTION ------ */
.dd-sort .toggle-drop {
    height: 40px;
    font-size: 14px;
    padding: 5px 10px;
}
.dd-sort .sort-icon {
    display: inline-block;
    font-size: 12px;
}
.dd-sort .dropitem {
    width: 180px;
    padding: 15px 20px;
}

.transaction-header { display: none; }
.transaction-item {
    position: relative;
    height: 100px;
    padding: 8px;
}
.transaction-item > * { position: absolute; }
.transaction-account { font-size: 12px; }
.transaction-date { 
    top: 8px;
    right: 8px;
    font-size: 15px;
} 
.transaction-category,
.transaction-merchant { left: 8px; }
.transaction-merchant {
    bottom: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
}
.transaction-category {
    bottom: 8px;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
}
.transaction-amount {
    right: 6px;
    bottom: 2px;
    font-size: 32px;
}


/* MEDIA: Mobile Landscape */
@media screen and (max-width: 720px) and (orientation: landscape)
{
    
}


/* MEDIA: Tablet */
@media screen and (max-width: 1024px)
{
    
}


/* MEDIA: Desktop */
@media screen and (min-width: 1025px)
{
    .toggle-side,
    .dd-sort 
    { 
        display: none;
    }
    
    .side, 
    .top-bar,
    .transaction-item > *
    { 
        position: static; 
    }
    
    body {
        display: flex;
        flex-flow: row nowrap;
        
        overflow: hidden;
    }
    
    main {
        width: 100%;
        padding: 0px;
    }
    .top-bar, .top-bar * { 
        height: 60px; 
        line-height: 60px;
    }
    .section-title {
        padding: 0px 20px;
        font-size: 24px;
    }
    .toggle-side, .dd-user > .profile {
        width: 60px;
        font-size: 24px;
    }
    .dd-user .dropitem { width: 150px; }
    .content {
        height: calc(100% - 60px);
        overflow-y: auto;
    }
    
    #graph { height: 400px; }
    
    .transaction-item,
    .transaction-item > * {
        height: 60px;
        line-height: 60px;
    }
    
    .transaction-item {
        display: flex;
        flex-flow: row nowrap;
        
        padding: 0px;
    }
    .transaction-item > * { 
        height: 60px;
        line-height: 60px;
        font-size: 16px;
        padding-left: 15px;
    }
    .transaction-account  { width: 30%; }
    .transaction-date     { width: 10%; }
    .transaction-amount   { width: 10%; }
    .transaction-merchant { width: 30%; }
    .transaction-category { width: 20%; }
    .transaction-col > .icon {
        display: inline-block;
        margin-left: 5px;
    }
}






