.new-account-button {
    color: white;
    background-color: #ffa75c;
}

.title {
    color: white;
}

.side-panel {
    background-color: white;
}
.app-title {
    background-color: #ffa75c;
}

.account-item {
/*    color: #6d6d6d;*/
    border-bottom: 1px solid #cecece;
}
.account-item:last-child {
    border-bottom: none;
}
.account-menu { color: #6f6f6f; }
.account-menu:hover { color: white; }
.fa-cog:hover { background-color: #6f6f6f; }

.fa-line-chart, .pos { color: #1faa6f; }
.fa-line-chart:hover, .fa-line-chart.active { background-color: #1faa6f; }

.fa-list-ul, .neg { color: #f45170; }
.fa-list-ul:hover, .fa-list-ul.active { background-color: #f45170; }

#add-account {
    color: #ffa75c;
    background-color: transparent;
}
#add-account:hover {
    border: 2px solid #ffa75c;
}

.top-bar {
    color: #FFF;
    background-color: #444;
}

.user-label { border-right: 1px solid white; }
.logout {
    color: white;
    background-color: transparent;
}

.module {
    background-color: white;
}
.module-header {
    background-color: rgb(240, 240, 240);
}


#transaction-table tr { border-bottom: 1px solid #cecece; }
#transaction-table tr:first-child { border-top: 1px solid #cecece; }
.transaction-col:hover {
    cursor: pointer;
}