/*  */
#curtain {
    z-index: 50;
    display: none;
    
    top: 0px;
    left: 0px;
    position: fixed;
    
    width: 100vw;
    height: 100vh;
    
    opacity: 0.6;
    background-color: black;
}
#curtain.show { display: block; }


/* --- Mobile Portrait --- */
.top-bar, .show-add { display: none; }

.side-panel, .show-side { position: fixed; }
.show-side {
    top: 10px;
    left: 10px;
    
    font-size: 25px;
    
    width: 50px;
    height: 50px;
    border-radius: 25px;
    -ms-border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
}
.side-panel {
    z-index: 200;
    left: 0px;
    left: -280px;
    
    width: 280px;
    height: 100%;
    
    transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}
.side-panel.show { left: 0px; }

.side-header, .account-menu {
    display: flex;
    flex-flow: row nowrap;
}
.side-header {
    padding-right: 5px;
    justify-content: space-between;
}
.side-option {
    width: 60px;
    height: 60px;
}
.side-option > .fa { font-size: 20px; }

.account-item { padding: 10px 10px; }
.account-item:first-child { padding-top: 0px; }
.account-name {
    height: 35px;
    line-height: 35px;
    
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
}
.account-amount {
    font-size: 20px;
    font-weight: 400;
}
.account-menu {
    margin-top: 5px;
    justify-content: flex-end;
}
.account-option {
    width: 36px;
    height: 36px;
    margin-left: 5px;
    
    border-radius: 18px;
    -ms-border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
}

.content { 
    padding: 70px 10px 10px 10px;
    
}

.module {
    margin-bottom: 20px;
}
.module-header {
    height: 50px;
    line-height: 50px;
    
    padding: 0px 10px;
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.module-label {
    font-size: 18px;
    font-weight: 400;
}
.date-select {
    width: 100px;
    height: 32px;
    
    padding: 0px 10px;
    border-radius: 4px;
    
    font-size: 0.8em;
}

#graph {
    height: 100px;
}

.transaction-item {
    position: relative;
    height: 100px;
    padding: 8px;
    
    border-bottom: 1px solid #b4b4b4;
}
.transaction-item > * { position: absolute; }
.transaction-account, 
.transaction-date { color: #7b7b7b; } /* STYLING */
.transaction-account { font-size: 12px; }
.transaction-date { 
    top: 8px;
    right: 8px;
    font-size: 15px; 
}
.transaction-merchant, 
.transaction-category { left: 8px; }
.transaction-merchant {
    bottom: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
}
.transaction-category {
    bottom: 8px;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
}
.transaction-amount {
    right: 6px;
    bottom: 2px;
    font-size: 32px;
}


/* MEDIA: Mobile Landscape */
@media screen and (max-width: 720px) and (orientation: landscape)
{
    .side-panel {
        width: 340px;
        left: -340px;
        
        display: flex;
        flex-flow: row nowrap;
    }
    .side-header {
        width: 60px;
        height: 100%;
        flex-flow: column nowrap;
    }
    #account-list { width: 280px; }
}


/* MEDIA: min-width 37.5em */
@media screen and (min-width: 37.5em)
{
    
}
