/* SIDE & ACCOUNT */
.show-side {
    color: white;
    background-color: #ffa75c;
}
.side-panel { background-color: white; }

.side-option { color: #b5b5b5; }
.side-option:hover { color: black; }

.fa-cog { color: #6f6f6f; }
.fa-list-ul, .neg { color: #f45170; }
.fa-line-chart, .pos { color: #1faa6f; }

.account-option:hover, .account-option.active { color: white; }
.fa-cog:hover, .fa-cog.active { background-color: #6f6f6f; }
.fa-list-ul:hover, .fa-list-ul.active { background-color: #f45170; }
.fa-line-chart:hover, .fa-line-chart.active { background-color: #1faa6f; }

#add-toggle { color: #b5b5b5; }
#add-toggle:hover { color: #ffa75c; }
#csv-msg { color: #7e7e7e; }
#csv-msg.error { color: #ff5353; }
#csv-choose {
    color: white;
    background-color: #ffa75c;
}
#csv-upload {
    color: white;
    background-color: #1faa6f;
}
#csv-upload[disabled='disabled'] { background-color: #7e7e7e; }


/* MAIN & MODULES */
.module-header { 
    background-color: #f5f5f5;
}
.module { background-color: white; }

.date-select {
/*
    color: white;
    background-color: #ffa75c;
*/
    color: #ffa75c;
    text-decoration: underline;
}

.transaction-item { 
    color: #414141;
    border-bottom: 1px solid #b4b4b4; 
}
.transaction-account, .transaction-date { color: #7b7b7b; }