/* SIDE & ACCOUNT */
.show-side {
    color: white;
    background-color: #ffa75c;
}
.side-panel { background-color: white; }

.side-option { color: #b5b5b5; }
.side-option:hover { color: black; }

.fa-cog { color: #6f6f6f; }
.fa-list-ul, .neg { color: #f45170; }
.fa-line-chart, .pos { color: #1faa6f; }

.account-option.active { color: white; }
.fa-cog.active { background-color: #6f6f6f; }
.fa-list-ul.active { background-color: #f45170; }
.fa-line-chart.active { background-color: #1faa6f; }

.edit-form {
    box-shadow: inset 0px 6px 8px -10px black,
                inset 0px -6px 8px -10px black;
}
.edit-field { border-left: 2px solid #7e7e7e; }
.edit-field:focus { border-left: 2px solid #ffa75c; }
.rename-button {
    color: white;
    background-color: #44cc92;
}
.delete-button { color: #d84646; }

.toggle-upload { color: #b5b5b5; }
.toggle-upload:hover { color: #ffa75c; }
.csv-msg { color: #7e7e7e; }
.csv-msg.error { color: #ff5353; }
.csv-choose {
    color: white;
    background-color: #ffa75c;
}
.csv-upload {
    color: white;
    background-color: #1faa6f;
}
.csv-upload[disabled='disabled'] { 
    cursor: default;
    background-color: #7e7e7e; 
}


/* MAIN & MODULES */
.module-header { 
    background-color: #f5f5f5;
}
.module { background-color: white; }
.module-subheader { border-bottom: 1px solid #e6e6e6; }

.date-select {
    color: #ffa75c;
    text-decoration: underline;
}

.transaction-item { 
    color: #414141;
    border-bottom: 1px solid #b4b4b4; 
}
.transaction-account, .transaction-date { color: #7b7b7b; }