@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);


/* layout */
* {
    margin: 0px;
    padding: 0px;
    
    border: none;
    box-sizing: border-box;
    
    /* webkit */
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
}

html, body {
    width: 100%;
    height: 100%;
}

ol, ul { list-style: none; }

input[type='file'] {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.hidden { display: none; }

.flex-glue { flex-grow: 100; }

.disable-scroll { overflow: hidden; }

/* style */
body { 
    background-color: #333; 
    
    font-family: 'Helvetica Neue', 'Helvetica', 'Open Sans', Arial, sans-serif;
}

button { background-color: transparent; }
button:hover,
.file-label
{ 
    cursor: pointer;
}